body{
    overflow-x: hidden;
}


#nomemotoesquerda {

    font-size: 45px;
    text-align:left;
    color: white;
    
}

#detalhesmotoesquerda {
    font-size: 30px;
    text-align: left;
    color: white;
}

#nomemotodireita {

    font-size: 45px;
    text-align:right;
    color: white;
    
}

#detalhesmotodireita {
    font-size: 30px;
    text-align: right;
    color: white;
}

#carrossel {
 margin: 0px;
 padding: 0px;
}

#carrossel img {
 margin: 0px;
 padding: 0px;
 height:800px;
}

#sobre{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    height: 100%;
    padding-bottom: 25px;
}

#equipe {
    margin-top: 50px;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
}

#equipe .col-4{
    display: flex;
    justify-content:center;
    align-items:center;
}

#equipe .col-8{
	
    text-align: center;
	
	margin:auto;
}


#equipe img{
    width: 45%;
    height: 45%;

}

header{
    background-color: white;
    height: 70px;
    margin-bottom: 2px;
}

header nav {
    height: 100px;
}

header nav img{
    width: 65px;
    height: 65px;
    margin-left: 25px;

}
header nav button{
    width: 65px;
    height: 65px;
    margin-right: 25px;

}

#Imagem_Inicial img{
    width: 1440;
    object-fit: cover;
    object-position: center;
    height: 1686;
}


#Descricao_Catalogo{
    display: flex;
    align-items: center; 
    margin: auto;
    padding: 2rem 5%;
}

#Descricao_texto h3 {
    font-size: 2rem;
    font-family: sans-serif;
    
    
}
#Descricao_texto p {
    font-size: 1rem;
    color: #555;
}

#Descricao_img img {
    max-width: 100%;
    height: auto;
    
}
#Final{
    display: flex;
    align-items: center;
    margin: auto;
    padding: 2rem 5%;
    width: 60%;
    grid-template-columns: 40% 60%;
}


#footerbranco{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 2rem 5%;

}

